:root {
    --oxford-blue: #011638;
    --space-cadet: #2E294E;
    --purpureus: #9055A2;
    --lilac: #D499B9;
    --tea-rose: #E8C1C5;
    --ultra-violet: #4F4686;
    --ghost-white: #F1F2F9;
    --main-font: 'Courier New', Courier, monospace;  
    --soft-violet: #695FAB;

}
#rootContainer{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
}
#mainContent {
    background-color: var(--tea-rose);
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    height: 70vh;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    gap: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 25px 1px var(--purpureus);
    min-width: 60%;
}

body {
    background-color: var(--lilac);
}

.titleAcronym {
    color: var(--space-cadet)
}

#appTitle {
    color: var(--ultra-violet);
    font-family: var(--main-font)

}
.additionContainer{
    display: flex;
    flex-flow: column nowrap;
    gap: 3px;  
    background-color: var(--ultra-violet);
    color:var(--ghost-white);
    border-radius: 5px;
    padding: 10px;
    width: 10vw;
    font-family: var(--main-font);
    margin-left: 8%;
}
.additionContainer input[type=text]{ 
    max-width: 70%;
}
button{
    border: none;
    width: 8vw;
    font-family: var(--main-font);
    font-weight: 600;
    background-color: var(--soft-violet);
    max-width: 70%;
    min-width: 30%;
    transition: 0.5s all;
    overflow:auto;
}
#informationContainer{
    display: flex;
    width: 40vw;
    height: 50vh;
    margin-top: 5vh;
    background-color: var(--ultra-violet);
}
label{
    text-align: justify;
    vertical-align: baseline;
}

@media only screen and (max-width: 768px) {
    #mainContent {
        display: flex;
        flex-flow: column;
        
    }
  }